/* CSS declarations go here */
.login {
    /* margin-top: 20px; */
}
.login-button {
    margin-top: 3.5px;
}
.login-button .text-besides-image {
    font-size: 12px;
}
#rooms {
    background-color: #FFF;
    position: fixed;
    bottom: 0;
}
#users {
    background-color: #FFF;
    position: fixed;
    bottom: 0;
}
